.main {
  height: 100%;
  width: 100%;
  background-color: #f0eeee;
  border-radius: 8px;
}

.heading {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  padding: 0;
  margin: 0;
}

.tips_container {
  padding-bottom: 20px;
  padding-left: 30px;
}

.tips {
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
}
