.main {
  width: 80%;
  min-height: 50px;
  height: 100%;
  margin: 20px auto;
  border: 2px solid #706161;
  font-size: 22px;
  background-color: #292121;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ended_div {
  font-size: 20px;
  font-weight: 400;
  padding: 15px;
  border-radius: 10px;
  background-color: rgb(35, 38, 41) !important;
  color: rgb(108, 117, 125) !important;
}
.ended_div_author_span {
  background-color: rgb(35, 38, 41) !important;
  color: rgb(108, 117, 125) !important;
  margin-top: 20px;
  font-size: 14px;
}

.last_section_div,
.started_div {
  background-color: #222;
  font-size: 2.75rem;
  white-space: pre;
  padding: 0.75rem 1rem;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  min-height: 5.75rem;
  border-radius: 0.25rem;
  position: relative;
}

.last_section_div {
  color: rgb(108, 117, 125) !important;
}
