.main {
  width: 50%;
  height: 50px;
  margin: 20px auto;
  border: 2px solid #706161;
  font-size: 22px;
  background-color: #292121;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
