.inputArea_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.inputArea {
  background-color: rgb(32, 31, 31);
  color: #c1c1c1;
  font-size: 30px;
  width: 80%;
  margin: auto;
}
